header .wrap{
    height:13vh;
}
header .col a.logo{
    border-right: 1px solid var(--myBlackWeakIn);
    padding-right: 1rem;
}
header .col a.logo i{
    color: var(--myWhite);
}
header .col form button{
    position: absolute;
    left:0;
}
header .col form button i{
    font-size: 1rem;
}
header .col form input{
    padding-left: 2rem;
}
header .col li.user a{
    padding:0.2rem 0.4rem;
}
header .col li.user a h6{
    font-size: 0.8rem;
}
ul.search-results {
    position: absolute;
    top:110%;
    width: 100%;
    z-index: 999;
}
ul.search-results a.close{
    position: absolute;
    right:4%;
    top:0.8rem;
}
footer{
    margin-top: 5rem;
    background: var(--myBlackWeak);
}
footer .wrap{
    height: 8vh;
}
/*HOME*/
section.container-menu .box figure img{
    width: 50px;
    height:50px
}
section.container ul.storys li{
    width: 18%;
    min-width: 18%;
    margin-right: 2%;
}
section.container ul.storys figure, section.container ul.storys figure img{
    border-radius: 10px;
}
section.container ul.storys figure img{
    height: 25vh;
}
section.container-form form.new-post textarea{
    width: 100%;
    margin-top: 3%;
}
section .box p.description{
    font-size: 0.85rem;
    color: var(--myGrayWeak);
    font-weight: 300;
    line-height: 1.4;
}
section.users ul{
    max-height: 50vh;
    overflow-y: auto;
}
/*PROFILE*/
main.container-profile .banner{
    height:60vh;
    border-radius: 10px;
    background-size: cover;
    background-position:center;
    position: relative;
}
main.container-profile .banner .row{
    padding: 0 2rem;
}
main.container-profile .banner .row::after{
    background:var(--myBlackWeakIn);
    content: '';
    position: absolute;
    bottom:0;
    left:0;
    height: 10vh;
    width: 100%;
    border-radius: 0 0 10px 10px;
    z-index: 0;
}
main.container-profile .banner .row figure, main.container-profile .banner .row .col{
    z-index:99;
}
main.container-profile .banner .row .col p{
    font-size: 1.2rem;
    color: var(--myGrayWeak);
    margin-top: 0.2rem;
}
main.container-profile figure.img-profile img{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    border:10px solid var(--myBlackWeakIn);
}
main.container-profile .col-infos{
    margin-top: -2%;
}
main.container-profile .col .menu li {
    padding:0 1rem 1rem 1rem;
    position: relative;
}
main.container-profile .buttons{
    padding-bottom: 0.4rem;
}
main.container-profile .buttons .button{
    border-radius: 8px;
}
main.container-profile .col .menu li a{
    color: var(--myGrayWeak);
    font-size: 1rem;
    font-weight:300;
}
main.container-profile .col .menu li.tabs--active::after{
    content: '';
    width: 100%;
    height: 2px;
    background-color: var(--myBlueWeak);
    position: absolute;
    bottom: 0;
}
main.container-profile .col .menu li.tabs--active a{
    color: var(--myBlueWeak);
    font-weight: 400;
}
section.content {
    display: none;
}
section.content--active {
    display: block;
}
section.container-infos-profile ul.list{
    border-bottom: 1px solid var(--myGray);
    padding-bottom: 0.5rem;
}
section.container-infos-profile ul.list-infos-profile img{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin-right: 0.7rem;
}
section.container-infos-profile ul.list li{
    background: var(--linearGradientPink);
    border-radius: 7px;
    padding: 0.7rem 1rem;
    margin-bottom: 0.56rem;
    display: flex;
    align-items: center;
}
label.send-banner{
    border:1px dashed var(--myBlackWeakIn);
    padding:2rem;
    cursor: pointer;
}
label.send-banner i{
    font-size: 3rem;
}
/*TOGGLE*/
.accordion-content {
    max-height: 0;
    overflow: hidden;
}
.message-content, .see-comments{
    position: absolute;
    bottom: -10%;
    left:0;
    width: 100%;
    z-index: 999;
}
.see-comments {
    bottom:unset;
    z-index: 998;
    padding: 0;
}
.message-content{
    margin-bottom: 0 !important;
}
.see-comments ul{
    max-height: 100%;
    overflow-y: auto;
}
.see-comments ul li{
    padding:0.4rem 1rem;
}
.h100-complete{
    min-height: 100%;
}
    
/*COMMUNITY*/
main.container-users .box{
    margin:0 2% 3%;
    width: 21%;
}
/*GROUP*/
main.container-group .box h1{
    font-size: 3.2rem;
    margin-bottom: 0.6rem;
}
main.container-group .box button{
    position: absolute;
    bottom:3%;
    right:3%;
}
/*SETTINGS NEW GROUP*/
main.settings-container {
    min-height:65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
}
/*ANIMATION*/
.message-content, .text-content, .see-comments{
    animation: fadeIn 0.4s ease-in both;
}
@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}


@media screen and (max-width: 790px){
    section.container ul.storys li {
        width: 32%;
        min-width: 32%;
    }
    section.container.w100-device-small{
        margin-bottom: 10vh;
    }
    section.container-order{
        order: 2;
    }
    main.container-profile .banner .row {
        padding: 0;
    }
    main.container-profile .col-infos {
        margin-top: 4%;
    }
    main.container-profile .banner .row::after {
        height: 19vh;
    }
    main.container-notifications .box{
        margin: 2% 2%;
    }
    main.container-users .box {
        width: 100%;
    }
    main.container-group figure{
        margin:0 0 1rem 0;
    }
    main.container-group .box{
        padding: 1.2rem 1.2rem 3rem 1.2rem;
    }
    main.container-group .box h1{
        font-size: 2.2rem;
    }
    main.container-profile figure.img-profile img {
        height: 120px;
        width: 120px;
    }    
}
